li {
  float: left;
  text-align: center;
  width: 42px;
  cursor: pointer;
  i{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../../../../static/img/toolbar_tool.png)no-repeat -72px 0/900% 200%; 
  }
  &.on{
      i{
        background: url(../../../../static/img/toolbar_tool.png)no-repeat -72px -36px/900% 200%; 
      }
    }
  }

