@import "~assets/styles/_bootstrap";

.loan-apply-page {
  padding-top: rem(90px);
  height: 100%;

  ._v-container > ._v-content {
    padding-top: rem(90px);
  }

  .banner {
    height: rem(400px);

    > img {
      height: 100%;
      vertical-align: top;
    }
  }

  .explain {
    background-color: #fff;

    .title {
      height: rem(76px);
      line-height: rem(76px);
      text-align: center;
      color: #333;
      font-size: rem(32px);
    }

    .content {
      padding: 0 rem(20px);

      .box {
        line-height: rem(36px);
        padding: rem(16px) rem(10px);
        color: #01b3f0;
        font-size: rem(24px);
        text-align: center;
        background-color: #f7f7f7;
        box-shadow: inset 0px 0px rem(20px) 0px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .form-wrapper {
    padding: rem(4px) rem(30px) rem(30px) rem(20px);
    background-color: #fff;

    .form-group {

      .list {

        .item {
          position: relative;
          display: flex;
          padding-top: rem(40px);

          i.icon {
            flex: 0 0 rem(60px);
            width: rem(60px);
            height: rem(60px);
            line-height: rem(60px);
            text-align: center;
            font-size: rem(40px);
            color: #666;
          }

          .title {
            height: rem(60px);
            line-height: rem(60px);
            padding-left: rem(10px);
            padding-right: rem(20px);
            font-size: rem(28px);
            color: #333;
          }

          .content {
            flex: 1;
            position: relative;
            min-width: 1px;
						border-bottom: 1px solid $bc;

            > input {
              display: block;
              width: 100%;
              height: 100%;
              padding: 0 rem(20px);
              font-size: rem(28px);
              color: #333;
              border: none;
							outline: none;
            }
            >span {
              display: inline-block;
              width: 100%;
              padding-right: rem(70px);
              text-align: right;
            }
            .code {
              position: absolute;
              right: 0;
              bottom: rem(10px);
              font-size: rem(28px);

              button {
                height: rem(60px);
                line-height: rem(60px);
                padding: 0 rem(20px);
                border-radius: rem(10px);
                color: #fff;
                background-color: #01b3f0;
                overflow: hidden;

                &.active {
                  background-color: #c9c9c9;
                }
              }
              .check-phone{
                margin-bottom: rem(20px);
                font-size: rem(26px);
              }
            }
          }
        }
      }

      .submit-btn {
        padding-top: rem(50px);
        text-align: center;

        .btn, > a {
          display: inline-block;
          vertical-align: top;
          width: rem(200px);
          height: rem(80px);
          line-height: rem(80px);
          background-color: #c9c9c9;
          color: #fff;
          font-size: rem(32px);
          border: none;
          border-radius: rem(10px);
          outline: none;
          transition: all .3s;
          margin: 0 rem(10px);
          &.on {
            background-color: #01b3f0;
          }
        }
      }
    }
  }

  .info-wrapper {
    padding: rem(20px);
    background-color: #fff;

    ul.list {

      li.item {
        overflow: hidden;

        &:not(:last-child) {
          margin-bottom: rem(10px);
        }
        .selected{
          position: absolute;
          top: rem(12px);
          right: rem(20px);
          display: none;
          color: #fff;
        }
        .del {
          position: absolute;
          top: rem(12px);
          right: rem(20px);
          display: inline-block;
          > i {
            padding: rem(10px);
            font-size: rem(40px);
          }
        }

        &.on {

          > a {
            background-color: #01b3f0;
            border: 1px solid #01b3f0;
            color: #fff;

            .select {
              position: absolute;
              right: 0;
              bottom: 0;
              display: block;
              width: 0;
              height: 0;
              border-top: rem(35px) solid transparent;
              border-right: rem(35px) solid #fff;
              border-bottom: rem(35px) solid #fff;
              border-left: rem(35px) solid transparent;
              border-radius: 0 0 rem(10px) 0;

              i.icon {
                font-size: rem(24px);
              }
						}
            .selected{
              display: inline-block;
            }
          }
          .del{
            display: none;
          }
        }

        > a {
          display: block;
          position: relative;
          padding: rem(10px) rem(20px);
          border: 1px solid $bc;
          border-radius: rem(10px);
          background-color: #f5f5f5;
          color: #666;
          transition: all 0s;

          .text {
            line-height: rem(42px);
            font-size: rem(28px);
          }

          .select {
            display: none;
          }
        }
      }
    }
  }

  .add_content {
    position: relative;
    padding: 0 rem(20px) ;
    background-color: #fff;
    width:100%;
    height: rem(84px);
    display: flex;
    margin-bottom: rem(16px);

    .more{
      flex: 1;
      width:rem(256px);
      border: 1px solid $bc;
      border-radius: rem(10px);
      border-right:none;
      line-height: rem(84px);
      height: rem(84px);
      text-align: center;
      color:#01b3f0;
    }
    .add{
      flex: 2;
      >a {
        display: block;
        vertical-align: top;
        border: 1px solid $bc;
        border-radius: rem(10px);
        border-left: none;
        overflow: hidden;
        text-align: center;
        line-height: rem(84px);
        height: rem(84px);
        color: #fff;
        font-size: rem(30px);
        background:#01b3f0;
      }
    }
  }
  .sea{
    background: url('~assets/images/sea.png') no-repeat;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-size: 77%;
    position: absolute;
    top: rem(9px);
    left: rem(9px);
  }

  .next-step {
    padding-top: rem(20px);
    padding-bottom: rem(50px);
    text-align: center;

    > a {
      display: inline-block;
      vertical-align: top;
      width: rem(400px);
      height: rem(80px);
      line-height: rem(80px);
      background-color: #ccc;
      color: #fff;
      font-size: rem(32px);
      border: none;
      border-radius: rem(10px);
    }
    .active{
      background-color: #01b3f0;
    }
  }

  .agree-wrapper {
    padding-top: rem(30px);
    padding-bottom: rem(50px);

    .agree {
      height: rem(46px);
      line-height: rem(46px);
      text-align: center;
      margin-bottom: rem(18px);

      .link {
        font-size: rem(28px);
        color: #01b3f0;
      }
    }

    .tips {
      line-height: rem(40px);
      padding: 0 rem(36px) rem(10px);
      font-size: rem(28px);
      color: #999;
    }
  }
  .add-message {
    height: 100%;
    z-index: 1000;

    .layer {
      height: 100%;
      z-index: 1000;

      &:before {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        background: rgba(0, 0, 0, .3);
        z-index: 1000;
      }

      .inner {
        border-radius: rem(10px);
        position: absolute;
        top: 20%;
        width: rem(640px);
        box-shadow: 0 0 rem(10px) rgba(0, 0, 0, .3);
        z-index: 1000;
        margin: rem(52px);

        .font {
          color: blue;
        }

        .head {
          p {
            background: #ececec;
            text-align: center;
            width: 100%;
            height: rem(114px);
            line-height: rem(114px);

            span {
              position: relative;
              display:inline-block;
              height: rem(40px);
              line-height: rem(40px);
              font-size: rem(32px);
              font-weight: bold;
            }

            i {
              width: rem(49px);
              height: rem(40px);
              display: inline-block;
              position: absolute;
              left: rem(0px);
              top: rem(0px);
              background: url(~assets/images/waring.png) no-repeat;
              background-size: 100%;
            }
          }
        }
        .body {
          padding: rem(5px) 0;
          background: #fff;

          .standard {
            padding: 0 rem(50px);
          }

          .select-group {
            height: 100%;

            .info_box {
              padding: rem(30px) rem(50px);
              width: 100%;
              // height: rem(270px);

              .message {
                margin-bottom: rem(15px);
              }
              .message_bottom {
                border-top: rem(1px) dashed #eeeeee;
                padding-top: rem(15px);
              }

              .item {
                position: relative;
                // height: rem(223px);
                font-size: rem(28px);
                color: #000;
                display: flex;

                span {
                  flex: 1;
                  height: rem(80px);
                  line-height: rem(80px);
                  display: inline-block;
                  &:last-child {
                    text-align: right;
                  }
                }
              }
            }

          }
        }

        .bot {
          height: rem(100px);
          line-height: rem(100px);
          background: #fff;
          display: flex;
          text-align: center;

          .close, .complete {
            flex: 1;
            color: #fff;
          }

          .close {
            background: #c4c4c4;
          }

          .complete {
            background: #e2bd52;
          }

          .title {
            font-size: rem(32px);
            color: #333;
            text-align: center;
          }
        }


      }

    }
  }
  .jump-layer {
    .notice{
      height:rem(500px);
    }
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .jump-bank {
      position: fixed;
      top: 50%;
      left: 50%;
      width: rem(500px);
      padding: rem(60px) 0 rem(28px);
      margin-left: rem(-250px);
      margin-top: rem(-217px);
      background-color: #fff;
      border-radius: rem(10px);
      text-align: center;

      .jump-loading {
        text-align: center;
        margin-bottom: rem(28px);

        .spinner {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: rem(88px);
          height: rem(88px);

          .container1 > div, .container2 > div, .container3 > div {
            width: rem(20px);
            height: rem(20px);
            background-color: #9b9b9b;

            border-radius: 100%;
            position: absolute;
            -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
            animation: bouncedelay 1.2s infinite ease-in-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }

          .spinner-container {
            position: absolute;
            width: 100%;
            height: 100%;
          }

          .container2 {
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
          }

          .container3 {
            -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
          }

          .circle1 { top: 0; left: 0; }
          .circle2 { top: 0; right: 0; }
          .circle3 { right: 0; bottom: 0; }
          .circle4 { left: 0; bottom: 0; }

          .container2 .circle1 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
          }

          .container3 .circle1 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
          }

          .container1 .circle2 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
          }

          .container2 .circle2 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
          }

          .container3 .circle2 {
            -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
          }

          .container1 .circle3 {
            -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
          }

          .container2 .circle3 {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
          }

          .container3 .circle3 {
            -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
          }

          .container1 .circle4 {
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
          }

          .container2 .circle4 {
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
          }

          .container3 .circle4 {
            -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
          }
        }
      }

      .text {
        height: rem(50px);
        line-height: rem(50px);
        color: #333;
        font-size: rem(28px);
        margin-bottom: rem(23px);
      }

      .bank-name {
        height: rem(58px);
        line-height: rem(58px);
        font-size: rem(32px);
        color: #333;
        margin-bottom: rem(26px);

        span, i {
          display: inline-block;
          vertical-align: top;
        }

        i.icon {
          height: 100%;
          padding: rem(8px) 0;

          > img {
            display: block;
            height: 100%;
          }
        }
      }
    }
	}
	.mask-bank {
		height: 100%;

		.inner {
			height: 100%;

			&:before {
				position: fixed;
				display: block;
				top: 0;
				width: 100%;
				height: 100%;
				content: ' ';
				background: rgba(0, 0, 0, .3);
				z-index: 2100;
			}

			.content {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
				width: rem(655px);
				height: rem(670px);
				border-radius: rem(10px);
				background: #fff;
				z-index: 2200;

				.head {
					height: rem(120px);
					line-height: rem(120px);
					text-align: center;
					border-bottom: 1px solid $bc;

					> span {
						font-size: rem(32px);
						color: #333;
					}

					> i {
						position: absolute;
						top: 0;
						right: rem(30px);
						bottom: 0;
						margin: auto 0;
					}

				}

				.main {
					height: rem(550px);

					.list {
						height: 100%;

						.item {
							padding: 0 rem(30px);
							height: rem(110px);
							line-height: rem(110px);
							border-bottom: 1px solid $bc;

							&:last-child {
								border-bottom: none;
							}

							.img {
								display: inline-block;
								width: rem(50px);
								height: rem(50px);
								vertical-align: middle;

								> img {
									width: 100%;
									height: 100%;
								}
							}

							.name {
								position: absolute;
								top: 0;
								bottom: 0;
								left: rem(120px);
								margin: auto 0;
								width: rem(550px);
								height: rem(50px);
								line-height: rem(50px);
								vertical-align: middle;

								> span {
									font-size: rem(28px);
									color: #333;
								}
							}

							> i {
								position: absolute;
								top: 0;
								right: rem(30px);
								bottom: 0;
								margin: auto 0;
								width: rem(40px);
								height: rem(40px);
								border-radius: 50%;
								overflow: hidden;
							}
						}
					}
				}
			}

		}
	}
  .kuang {
    width: rem(28px);
    height: rem(28px);
    background: #fff;
    border: 1px solid #ccc;
    display: block;
    left: inherit;
    right: rem(-634px);
    top: rem(-30px);
    color:#f00;
    em {
      position: absolute;
      left: -10px;
      top: 0px;
      left: rem(-102px);
      top: rem(-8px);
    }
  }
  .phonecode {
    height: rem(100px);
  }
  .getCode {
    position:absolute;
    right: rem(30px);
    top: rem(26px);
    color:#fff;
    background:#ffa50d;
    border:none;
    width: rem(225px);
    height: rem(70px);
    border-radius: rem(10px);
    padding: 0 rem(5px);
  }
  .getCode.active{
    background-color: #c9c9c9;
  }

  .getCode_input {
    border: none;
    height: rem(126px);
    line-height: rem(126px);
    position: absolute;
    right:rem(120px);
  }
  input.input-item {
    position: absolute;
    top: rem(26px);
    right: rem(50px);
    width: rem(400px);
    height: rem(70px);
    font-size: rem(28px);
    text-align: right;
    border: none;
    outline: none;
    &::-webkit-input-placeholder { color: #c3c3c3; }
    &::-moz-placeholder { color: #c3c3c3; }
    &:-moz-placeholder { color: #c3c3c3; }
    &:-ms-input-placeholder { color: #c3c3c3; }
    &.school {
      right: rem(65px);
      &::-webkit-input-placeholder { color: #000; }
      &::-moz-placeholder { color: #000; }
      &:-moz-placeholder { color: #000; }
      &:-ms-input-placeholder { color: #000; }
    }
    &.verificationCode {
      right: rem(225px);
      width: rem(200px);
    }
    &:disabled { background-color: #fff; }
  }

  .code-input {
    width: rem(268px)  !important;
    text-align: left  !important;
    outline: none;
    left: rem(6px) !important;
    border: rem(1px) solid #ccc  !important;
    padding-left: rem(20px)  !important;
  }
  .code_color {
    background: #01b3f0;
  }
  .notices {
    .title{
      text-align:left;
      border-bottom:rem(1px) solid #ccc;
      height:rem(100px);
      line-height:rem(100px);
    }
    position: absolute;
    top: 0;
    height: 10.875rem;
    left:0;
    overflow: hidden;
    padding:rem(20px);
    line-height:rem(50px);
    border-bottom:rem(1px) solid #ccc;
    text-align:left;
    padding-top:0;
    .notice_content{
      height:rem(50px);
      line-height:rem(50px);
      padding-top:rem(20px);
    }
    .marquee {
      height: rem(60px);
      word-break: keep-all;
      white-space: nowrap;
      font-size: rem(24px);
      color: #fff;
      text-align: left;
      animation: marquee 36s linear infinite;
    }
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-390%);
      }
    }
  }
  .font-red{
    color: #c00 !important;
  }
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
	}

}
.add-msg {
  height: 100%;
  z-index: 1000;

  .layer {
    height: 100%;
    z-index: 1000;

    .inner {
      background: #333;
      opacity: 0.9;
      color: #fff;
      z-index: 1000;
      padding: rem(32px)  rem(32px);
      border-radius: rem(20px);
      width:rem(638px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
.add-msg{
  span{
    height: rem(40px);
    line-height: rem(40px);
    color: #e2bd52;
  }
  i{
    height: rem(36px);
    width: rem(36px);
    display: inline-block;
    margin: 0 0  0 rem(10px) ;
  }
  .name {
    margin-right:rem(20px); 
  }
  img{ 
    position: absolute;
    top:rem(5px);
    border-radius: 50%;
    height:100%;
    width:100%;
    display: inline-block;
  }
}