<main id="ProductEntry">
  <components :is="articleView"></components>
  <components :is="localCloudView"></components> <!-- 本地云模式 -->
  <components :is="windRadarView"></components> <!-- 风廓线雷达 -->
  <components :is="castingView"></components>  <!-- 短期预报 -->
  <components :is="micradiationView"></components>  <!-- 微波辐射计 -->
  <components :is="actualproductView"></components>  <!-- 实况产品 -->
  <components :is="ecwmfInterView"></components>  <!-- ECWMF细网格模式产品 -->
  <components :is="sunflowerView"></components>  <!-- ECWMF细网格模式产品 -->
  <components :is="windradarView"></components>  <!-- 风廓线雷达 -->
  <components :is="reservoirLevelView"></components>  <!-- 水库水位 -->
  <components :is="riverLevelView"></components>  <!-- 河流水位 -->
  <components :is="forestFireView"></components>  <!-- 深林火险 -->
  <components :is="dryConditionView"></components>  <!-- 深林火险 -->
  <components :is="grapes1kmView"></components>  <!-- grapes1km -->
  <components :is="grapes3kmView"></components>  <!-- grapes1km -->
  <components :is="weatherForecastView"></components>  <!-- grapes1km -->
  <components :is="agricultureAnalysisView"></components>  <!-- grapes1km -->
  <components :is="reservoirLevelView"></components>  <!-- 风廓线雷达 -->
  <components :is="satelliteProductView"></components>  <!-- 卫星云反演产品 -->
  <components :is="grapesModeView"></components>  <!-- GRAPES中尺度模式产品 -->
  

  <components :is="satelliteCloudView"></components>  <!-- 卫星云 -->
</main>