<main id="Grapes3km"
      class="weather-product-window"
      v-drag="">
  <header>
    <span>Grapes1km</span>
    <aside>
      <button :style="{backgroundPositionX: minify ? '-44px' : '0'}"
              v-on:click="minify = !minify"
              class="mini"></button>
      <button class="close"
              v-on:click="toggleProductView_global({id: productId, action: false})"></button>
    </aside>
  </header>
  <main class="cf content-wrapper">
    <figure>
      <img :src="imgUrl"
           height="100%"
           width="100%"
           alt="" />
    </figure>
    <menu>
      <section class="date-time-forsee-wrapper">
        <ul>
          <li>
            <aside class="left-label-wrapper">起报日期</aside>
            <aside class="right-btn-wrapper">
              <div class="datetime-wrapper">
                <el-date-picker v-model="date"
                                format="yyyy-MM-dd"
                                type="date"></el-date-picker>
              </div>
            </aside>
          </li>
          <li>
            <aside class="left-label-wrapper">起报时效</aside>
            <aside class="right-btn-wrapper">
              <select id="forsee-time"
                      v-model="hourSelected">
                <option v-for="item in hourData"
                        :value="item">{{item}}</option>
              </select>
            </aside>
          </li>
          <li>
            <aside class="left-label-wrapper">选择预报分钟</aside>
            <aside class="right-btn-wrapper">
              <select id="forsee-time"
                      v-model="forecastHour">
                <option v-for="item in forecastHourData"
                        :value="item">{{item }}</option>
              </select>
            </aside>
          </li>
          <li :style="{height: regionData.length * 30 + 'px'}">
            <aside class="left-label-wrapper">选择区域</aside>
            <aside class="right-btn-wrapper radio-wrapper"
                   style="height: auto">
              <div v-on:click="regionSelected = item.value"
                   v-for="item in regionData">
                <em :state="regionSelected === item.value ? 'true' : 'false'"></em>
                <a>{{item.name}}</a>
              </div>
            </aside>
          </li>
          <li>
            <aside class="left-label-wrapper">地面要素</aside>
            <aside class="right-btn-wrapper">
              <select id="forsee-time"
                      v-model="elementSelected">
                <option v-for="item in elementData"
                        :value="item.value">{{item.name}}</option>
              </select>
            </aside>
          </li>
          <li v-if="regionSelected === 'southchina'">
            <aside class="left-label-wrapper">高空要素</aside>
            <aside class="right-btn-wrapper">
              <select id="forsee-time"
                      v-model="elementSelected">
                <option v-for="item in hightSkyElementData"
                        :value="item.value">{{item.name}}</option>
              </select>
            </aside>
          </li>
          <li v-if="regionSelected === 'southchina'">
            <aside class="left-label-wrapper">水汽条件</aside>
            <aside class="right-btn-wrapper">
              <select id="forsee-time"
                      v-model="elementSelected">
                <option v-for="item in waterElementData"
                        :value="item.value">{{item.name}}</option>
              </select>
            </aside>
          </li>
          <li>
            <aside class="left-label-wrapper">不稳定层结</aside>
            <aside class="right-btn-wrapper">
              <select id="forsee-time"
                      v-model="elementSelected">
                <option v-for="item in unstableElementData"
                        :value="item.value">{{item.name}}</option>
              </select>
            </aside>
          </li>
          <li>
            <aside class="left-label-wrapper"></aside>
            <aside class="right-btn-wrapper">
              <button v-on:click.prevent="draw"
                      class="control-btn">绘制</button>
            </aside>
          </li>
        </ul>
      </section>
    </menu>
  </main>
</main>
