@import'../../../styles/colorTheme';
#FstTimeline {
    position: relative;
    margin: 15px auto 20px auto;
    width: 144px;
    z-index: 3;
    transition: transform .3s ease-out;
    >ul.timeline {
        z-index: 4;
        width: 144px;
    }
    li {
        background-color: $translucent-bg;
        height: 10px;
        box-sizing: border-box;
        float: left;
        cursor: pointer;
        border-right: solid 1px $translucent-bg-hover;
        &:hover {
            background-color: $theme-color !important;
        }
        &:first-of-type {
            border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
            border-right: none;
            border-radius: 0 2px 2px 0;
        }
    }
    ul.rain-fst-indicator{
        
    }
}

.datetime-indicator {
    position: absolute;
    width: 68px;
    height: 32px;
    text-align: center;
    box-shadow: 0 0 5px gray;
    left: -6px;
    transition: transform .2s ease-out;
    top: 16px;
    transform: translateX(0);
    z-index: 2;
    &[for=actual-selected] {
        article {
            background-color: $theme-color;
            color: white;
        }
        svg{
            path{
                fill: $theme-color;
            }
        }
    }
    article {
        background-color: white;
        color: #6d6c6c;
        font-size: 12px;
    }
    svg {
        transform: translateY(-45px) rotateZ(179deg);
        display: inline-block;
        path{
            fill: white;
        }
    }
}