.main-menu-img{
  background-image: url(../static/img/sidebar.png);
  background-repeat: no-repeat; 
}
.switch-img{
  background-image: url(../static/img/sidebar_btn.png);
  background-repeat: no-repeat;
}