{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "transform-async-to-generator",
    ["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }
  ]]],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
