<main id="CreatearticlePopup" class="popup_content" v-drag="">
    <div class="create_con">
        <header>
            <p class="popup_title"><span class="popup_titleIn">需求分析报告-生成文档</span>
                <i class="close_btn"   v-on:click="changeArticleViewHolder_global({id: null,type: null})"></i>
                <i class="hide_btn"></i>
            </p>
        </header>
        <div class="create_left popup_aricle">
            <div class="create_conIn popup_aricleIn"></div>
        </div>
        <div class="create_right">
            <ul>
                <li class="create_downLoad"><i></i></li>
                <li class="create_update"><i></i></li>
                <li class="create_editor"><i></i></li>
            </ul>
        </div>
        
    </div>
    
  
</main>