<main id="ProductsClass">
  <div class="require_analyze">
      <div class="require_analyze_left managecenter_left">
          <p class="require_analyze_leftTitle">需求分析</p>
      </div>
      <div class="require_analyze_right cf">
        <ul  class="require_analyze_ul cf">
          <li class="require_analyze_li cf">
            <p class="add_rain_title">人工增雨：</p>
            <ul class="add_rain_ul">
              <li class="add_rain add_list">干旱条件</li>
              <li class="add_rain add_list">水库水位</li>
              <li class="add_rain add_list">河流水位</li>
              <li class="add_rain add_list">中长期预报</li>
              <li class="add_rain add_list">气候预测</li>
              <li class="add_rain add_list">农情分析</li>
              <li class="add_rain_add add_btn">添加</li>
            </ul>
          </li>
          <li class="require_analyze_li cf">
            <p class="hail_suppression_title">人工防雹：</p>
            <ul class="hail_suppression_ul">
              <li class="hail_suppression add_list">烟叶种植</li>
              <li class="hail_suppression add_list">其他经济作物</li>
              <li class="add_hail add_btn">添加</li>
            </ul>
          </li>
          <li class="require_analyze_li cf">
            <p class="artificial_influence_title">人工影响降水落区：</p>
            <ul class="artificial_influence_ul">
              <li class="artificial_influence add_list">烟叶种植</li>
              <li class="artificial_influence add_list">其他经济作物</li>
              <li class="add_artificial add_btn">添加</li>
            </ul>
          </li>
          
        </ul>
      </div>
  </div>
  <div class="operation_process">
    <div  class="operation_process_left managecenter_left">
      <p>作业过程预报</p>
      <p>与作业计划</p>
      <p>(24-72小时)</p>
    </div>
    <div  class="operation_process_right">
        <ul>
          <li class="add_list">干旱条件</li>
          <li class="add_list">水库水位</li>
          <li class="add_list">河流水位</li>
          <li class="add_list">中长期预报</li>
          <li class="add_list">气候预测</li>
          <li class="add_list">农情分析</li>
          <li class="add_list">烟叶种植</li>
          <li class="add_list on">其他经济作物</li>
          <li class="add_btn ">添加</li>
          
        </ul>
    </div>
  </div>
  <div class="operation_condition">
    <div  class="operation_condition_left managecenter_left">
      <p>作业条件潜力预报</p>
      <p>和作业预案</p>
      <p>(3-24小时)</p>
    </div>
    <div  class="operation_condition_right">
      <ul>
          <li class="add_list">干旱条件</li>
          <li class="add_list">水库水位</li>
          <li class="add_list">河流水位</li>
          <li class="add_list">中长期预报</li>
          <li class="add_list">气候预测</li>
          <li class="add_list">农情分析</li>
          <li class="add_list">烟叶种植</li>
          <li class="add_list on">其他经济作物</li>
          <li class="add_btn ">添加</li>
          
        </ul>
    </div>
  </div>
  <div class="operation_earlyWarning">
    <div  class="operation_earlyWarning_left managecenter_left">
      <p>作业预警</p>
    </div>
    <div  class="operation_earlyWarning_right">
      <ul>
        <li class="add_list">干旱条件</li>
        <li class="add_list">水库水位</li>
        <li class="add_list">河流水位</li>
        <li class="add_list">中长期预报</li>
        <li class="add_btn ">添加</li>
      </ul>
    </div>
  </div>
  <div class="realtime-commanding ">
    <div  class="realtime-commanding_left managecenter_left">
      <p>实时指挥</p>
    </div>
    <div  class="realtime-commanding_right">
      <ul>
        <li class="add_list">干旱条件</li>
        <li class="add_list">水库水位</li>
        <li class="add_list">河流水位</li>
        <li class="add_list">中长期预报</li>
        <li class="add_btn ">添加</li>
        
      </ul>
    </div>
  </div>
  <div class="custom">
    <div  class="custom_left managecenter_left">
      <p>自定义</p>
    </div>
    <div  class="custom_right">
      <div class="editor_delete"><i class="editor"></i><i class="delete"></i></div>
      <ul>
        <li class="add_list">干旱条件</li>
        <li class="add_list">水库水位</li>
        <li class="add_list">河流水位</li>
        <li class="add_list">中长期预报</li>
        <li class="add_btn ">添加</li>
      </ul>
    </div>
  </div>
</main>