#ToolBox {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 26px;
  >ul {
    >li {
      float: left;
      position: relative;
      width: 36px;
      height: 36px;
      background-color: rgba(31, 43, 61, 0.5);
      background-repeat: no-repeat;
      background-image: url(../../../static/img/toolbar.png);
      cursor: pointer;
      &:first-child { border-radius: 4px 0 0 4px; }
      &:last-child { border-radius: 0 4px 4px 0; }
      &:hover,&.on { background-color: rgba(0, 0, 0, 0.5); }
      &.map-layer { 
        background-position: 0 0; 
        &:hover,&.on { background-position: -36px 0;  }
      }
      &.route-nav { 
        background-position: 0 -36px; 
        &:hover,&.on { background-position: -36px -36px;  }
      }
      &.ranging { 
        background-position: 0 -72px; 
        &:hover,&.on { background-position: -36px -72px;  }
      }
      &.search { 
        background-position: 0 -108px; 
        &:hover,&.on { background-position: -36px -108px;  }
      }
      &.measure {
        background-position: 0 -144px;
        &:hover,&.on { background-position: -36px -144px; }
      }
      .layers {
        position: absolute;
        top: 0;
        left: -100%;
        width: 36px;
        height: 36px;
        background-color: rgba(31, 43, 61, 0.5);
      }
    }
  }
}